a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    opacity: .85;
}
.gmail{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-right: 30px;
    margin-top :14px;
    
}
.section-1{
    flex:1;
}
.logo{
    display: block;
    margin:0px auto;
    margin-top: 107px;
}
input{
    margin-left:575px;
    margin-top: 25px;
}
.search-button{
    margin-top: 15px;
    margin-left:550px

}